<main class="container-fluid px-0">
    <!-- Castitoner -->
    <section class="row g-0">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(./assets/img/img/fotocopiadora.jpg);"></div>
      <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h2 class="h3 pb-3">Castitoner</h2>
          <p class="fs-sm pb-3 text-muted">Somos una empresa dedicada a la comercialización, distribución e importación de insumos para cartuchos de impresoras y tóner de fotocopiadoras y todo lo que necesites para su oficina u hogar en el ramo de la impresión, contamos con el personal profesional dispuesto a atender su necesidad..</p>
          
        </div>
      </div>
    </section>
    <!-- Nuestra Misión -->
    <section class="row g-0">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(./assets/img/img/mantenimiento.jpg);"></div>
      <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h2 class="h3 pb-3">Nuestra Misión</h2>
          <p class="fs-sm pb-3 text-muted">Con base en nuestro entendimiento de las necesidades  futuras trabajamos en la planeación, implementación y soporte de un portafolio de soluciones de negocio  con tecnología de punta, producto de alianzas con nuestros proveedores  y un grupo de profesionales expertos ,altamente capacitados.</p><a class="btn btn-accent btn-shadow" href="#">Mas información</a>
        </div>
      </div>
    </section>

    <!-- Equipos tecnologicos -->
    <section class="row g-0">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(./assets/img/img/gammers.jpg);"></div>
      <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h2 class="h3 pb-3">Equipos tecnologicos</h2>
          <p class="fs-sm pb-3 text-muted">comercializamos productos actuales de mercado para estar a la vanguardia del nicho que desarrollamos, Ofreciendo una solución global a nuestros clientes, dando calidad y servicio en los lugares donde nos necesiten.</p>
        </div>
      </div>
    </section>

    <!-- Section: Shopping outlets-->
    <section class="row g-0">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(./assets/img/img/tonners.jpg);"></div>
      <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h2 class="h3 pb-3">Suministros e insumos</h2>
          <p class="fs-sm pb-3 text-muted">Los valores sobre los que se sostiene Castitoner, son la estrategia de crecimiento y diferenciación en el mercado respecto a nuestros cercanos competidores, creando un ambiente de confianza y honestidad de nuestro personal para con nuestros clientes.</p>
          <a class="btn btn-warning btn-shadow" [routerLink]="['/contact']" >Contactenos</a>
        </div>
      </div>
    </section>
    <hr>

    <!-- Section: Team-->
    <section class="container py-3 py-lg-5 mt-4 mb-3">
      <h2 class="h3 my-2">Nuestro equipo</h2>
      <p class="fs-sm text-muted">Personas altamente capacitadas para brindar la mayor seguridad y experiencia</p>
      <div class="row pt-3">
        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
          <div class="d-flex align-items-center"><img class="rounded-circle" src="./assets/img/team/03.jpg" width="96" alt="Jonathan Doe">
            <div class="ps-3">
                <h6 class="fs-base pt-1 mb-1">Luis Ignacio Castillo</h6>
                <p class="fs-ms text-muted mb-0">CEO, Fundador</p>
                <a class="nav-link-style fs-ms text-nowrap" href="mailto:johndoe@example.com">
                    <i class="ci-mail me-2"></i>gerente@castitoner.com
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
          <div class="d-flex align-items-center"><img class="rounded-circle" src="./assets/img/team/04.jpg" width="96" alt="Barbara Palson">
            <div class="ps-3">
              <h6 class="fs-base pt-1 mb-1">Halem</h6>
              <p class="fs-ms text-muted mb-0">Co-fundadora</p>
              <a class="nav-link-style fs-ms text-nowrap" href="mailto:b.palson@example.com">
                  <i class="ci-mail me-2"></i>halem@castitoner.com</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-grid-gutter">
          <div class="d-flex align-items-center"><img class="rounded-circle" src="./assets/img/team/06.jpg" width="96" alt="William Smith">
            <div class="ps-3">
              <h6 class="fs-base pt-1 mb-1">Christian</h6>
              <p class="fs-ms text-muted mb-0">Tecnico</p>
              <a class="nav-link-style fs-ms text-nowrap" href="mailto:w.smith@example.com">
                  <i class="ci-mail me-2"></i>christian@castitoner.com</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-grid-gutter mx-auto">
          <div class="d-flex align-items-center"><img class="rounded-circle" src="./assets/img/team/01.jpg" width="96" alt="Benjamin Miller">
            <div class="ps-3">
              <h6 class="fs-base pt-1 mb-1">Daniel Lozano</h6>
              <p class="fs-ms text-muted mb-0">Vendedor</p>
              <a class="nav-link-style fs-ms text-nowrap" href="mailto:b.miller@example.com">
                  <i class="ci-mail me-2"></i>daniel@castitoner.com</a>
            </div>
          </div>
        </div>

      </div>
    </section>    
</main>