<!-- Footer-->
<footer class="footer bg-dark pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Tienda</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '60da44ee3370a41ab0f1d3bc']" href="#">Toner</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '60da45103370a41ab0f1d3be']" href="#">Tintas</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '60da45203370a41ab0f1d3bf']" href="#">Impresoras</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '610d96a2b0558a266811208f']" href="#">CCTV</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '611ecc7bb86c791994abdb9e']" href="#">Computadoras</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '610d9d0ab0558a2668112093']" href="#">Alarmas</a>
                        </li>
                        <li class="widget-list-item">
                            <a class="widget-list-link" [routerLink]="['/search/departamento', '611e807db86c791994abdb8d']" href="#">Gamers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Cuenta &amp; Información</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Tu cuenta</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Terminos &amp; Condiciones</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Politicas de privacidad</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">Ordenes de servicios</a></li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">Nosotros</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" [routerLink]="['/about']">Nuestra Compañia</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget pb-2 mb-4">

                    <h3 class="widget-title text-light pb-1">Recive Información y promociones</h3>

                    <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group flex-nowrap">
                            <i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Tu email" required>
                            <button class="btn btn-primary" type="submit" name="subscribe">Subscribirme*</button>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div>
                        <div class="form-text text-light opacity-50">*Subscribate a nuestro canal de Información y recibe instantaneamente promociones, descuentos y grandes ofertas.</div>
                        <div class="subscription-status"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="row pb-3">

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Entrega rapida y Gratuita</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Por compras superiores a $600,000</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Garantias</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Todos nuestros productos son nuevos y garantizados por 1 año</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Atención</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">de lunes a sabados en horario de oficina</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">Pagos seguros</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">Garantizamos un protección superior con los certificados SSL</p>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="hr-light mb-5">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="text-nowrap mb-4">
                        <a class="d-inline-block align-middle mt-n1 me-3" [routerLink]="['/home']">
                            <img class="d-block" src="./assets/img/logo2.webp" width="117" alt="Cartzilla">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="mb-3">

                        <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="https://www.facebook.com/castitoner" target="_blank">
                            <i class="ci-facebook"></i>
                        </a>
                        <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/castitoner/" target="_blank">
                            <i class="ci-instagram"></i>
                        </a>

                    </div>

                    <img class="d-inline-block" src="./assets/img/cards-alt.webp" width="187" alt="Payment methods">

                </div>
            </div>
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© Todos los derechos reservados <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">castitoner</a></div>
        </div>
    </div>
</footer>
<!-- Toolbar for handheld devices (Default)-->
<div class="handheld-toolbar">

    <div class="d-table table-layout-fixed w-100">
        <!-- <a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html">
            <span class="handheld-toolbar-icon"><i class="ci-heart"></i></span>
            <span class="handheld-toolbar-label">Wishlist</span>
        </a>
        <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
            <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span>
            <span class="handheld-toolbar-label">Menu</span>
        </a> -->

        <a class="d-table-cell handheld-toolbar-item" [routerLink]="['/cart']">
            <span class="handheld-toolbar-icon"><i class="ci-cart"></i>
                <!-- <span class="badge bg-primary rounded-pill ms-1">4</span> -->
            </span>
            <!-- <span class="handheld-toolbar-label">$265.00</span> -->
        </a>

    </div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>