<!-- Hero (Banners + Slider)-->
<section class="py-4 pt-md-5">
    <div class="container py-xl-2">
        <div class="row">
            <!-- Slider     -->
            <div class="col-xl-9 pt-xl-4 order-xl-2">

                <swiper [slidesPerView]="1" [autoplay]="true" [pagination]="{ clickable: true }" [spaceBetween]="50">

                    <ng-template swiperSlide>
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-2">
                                <img loading="lazy" class="d-block mx-auto" src="./assets/img/home/hero-slider/05.webp" alt="VR Collection">
                            </div>
                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 from-bottom">Gestión Documental</h2>
                                <h1 class="display-4 from-bottom delay-1">Alquiler</h1>
                                <h5 class="fw-light pb-3 from-bottom delay-2">De impresoras, scanner</h5>


                            </div>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-2"><img loading="lazy" class="d-block mx-auto" src="./assets/img/home/hero-slider/04.webp" alt="VR Collection"></div>
                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 from-start">Suministros de</h2>
                                <h1 class="display-4 from-start delay-1">Toner, Tintas</h1>
                                <h5 class="fw-light pb-3 from-start delay-2">Impresoras, Computadores y Tecnología</h5>
                                <!-- <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div> -->
                            </div>
                        </div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-2"><img loading="lazy" class="d-block mx-auto" src="./assets/img/home/hero-slider/06.webp" alt="VR Collection"></div>
                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                <h2 class="fw-light pb-1 scale-up">Protección</h2>
                                <h1 class="display-4 scale-up delay-1">Camaras de seguridad y Alarmas</h1>
                                <h5 class="fw-light pb-3 scale-up delay-2"> Proteje tu hogar ó Empresa con los mejores sistemas de seguridad electronica </h5>
                                <!-- <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div> -->
                            </div>
                        </div>
                    </ng-template>

                </swiper>

            </div>


            <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
                <div class="table-responsive" data-simplebar>
                    <div class="d-flex d-xl-block">

                        <a class="d-flex align-items-center bg-faded-info rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" [routerLink]="['/search/departamento', '60da44ee3370a41ab0f1d3bc']" style="min-width: 16rem;">
                            <img loading="lazy" src="./assets/img/home/banners/banner-sm01.webp" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2 h6 text-wrap" style="font-size: 0.9rem;"><span class="fw-light">Toner</span><br>Genericos <span class="fw-light">Remanufacturados</span><br>100% garantizados</h5>
                                <!-- <div class="text-info fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div> -->
                            </div>
                        </a>
                        <a class="d-flex align-items-center bg-faded-warning rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" [routerLink]="['/search/departamento', '610d9d0ab0558a2668112093']" style="min-width: 16rem;">
                            <img loading="lazy" src="./assets/img/home/banners/banner-sm02.webp" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">Proteje</span><br>tu empresa<br><span class="fw-light">y hogar </span>con alarma</h5>
                                <!-- <div class="text-warning fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div> -->
                            </div>
                        </a>
                        <a class="d-flex align-items-center bg-faded-success rounded-3 pt-2 ps-2 mb-4" [routerLink]="['/search/departamento', '611ecc7bb86c791994abdb9e']" style="min-width: 16rem;"><img loading="lazy" src="./assets/img/home/banners/banner-sm03.webp" width="125" alt="Banner">
                            <div class="py-4 px-2">
                                <h5 class="mb-2"><span class="fw-light">Computadores </span><br>Corporativos <span class="fw-light"></span><br>al mejor precio</h5>
                                <!-- <div class="text-success fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div> -->
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Products grid (Trending products)-->
<section class="container pt-5">
    <!-- Heading-->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2">Productos Principales</h2>
        <!-- <div class="pt-3"><a class="btn btn-outline-accent btn-sm" href="shop-grid-ls.html">Mas productos<i class="ci-arrow-right ms-1 me-n1"></i></a></div> -->
    </div>
    <!-- Grid-->
    <div class="row pt-2 mx-n2">
        <!-- Product-->
        <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4" *ngFor="let producto of productos">
            <div class="card product-card">

                <div class="product-card-actions d-flex align-items-center">
                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button>
                </div>
                <a class="card-img-top d-block overflow-hidden" [routerLink]="['/product', producto.pid]">
                    <img loading="lazy" [src]="producto.img | imagen: 'products'" alt="Product">
                </a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1"> {{ producto.department.name }} </a>
                    <h3 class="product-title fs-sm"><a [routerLink]="['/product', producto.pid]">{{ producto.name }}</a></h3>
                    <div class="d-flex justify-content-between">
                        <div class="product-price"><span class="text-accent"> {{producto.price | currency}} </span></div>
                        <!-- <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                        </div> -->
                    </div>
                </div>
                <div class="card-body card-body-hidden">
                    <button (click)="agregarCarrito( producto, 1 )" class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i class="ci-cart fs-sm me-1"></i>Agregar al carrito</button>
                    <div class="text-center">
                        <a class="nav-link-style fs-ms" href="#quick-view-electro" data-bs-toggle="modal" (click)="productoModal(producto)">
                            <i class="ci-eye align-middle me-1"></i>Ver producto
                        </a>
                    </div>
                </div>
            </div>
            <hr class="d-sm-none">
        </div>
        <!-- Product-->

    </div>
</section>
<!-- Promo banner-->
<section class="container mt-4 mb-grid-gutter">
    <div class="bg-faded-info rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5"><span class="badge bg-danger">Oferta Limitada</span>
                    <h3 class="mt-4 mb-1 text-body fw-light">Todo Nuevo</h3>
                    <h2 class="mb-1">Impresora Epson EcoTank L3110</h2>
                    <p class="h5 text-body fw-light">No te pierdas el descuento!</p>

                    <div class="countdown py-2 h4" data-countdown="07/01/2021 07:00:00 PM">
                        <div class="countdown-days"><span class="countdown-value"></span><span class="countdown-label text-muted">d</span></div>
                        <div class="countdown-hours"><span class="countdown-value"></span><span class="countdown-label text-muted">h</span></div>
                        <div class="countdown-minutes"><span class="countdown-value"></span><span class="countdown-label text-muted">m</span></div>
                        <div class="countdown-seconds"><span class="countdown-value"></span><span class="countdown-label text-muted">s</span></div>
                    </div><a class="btn btn-accent">Ver mas ofertas<i class="ci-arrow-right fs-ms ms-1"></i></a>
                </div>

            </div>
            <div class="col-md-7"><img loading="lazy" src="./assets/img/img/impresora.webp" alt="iPad Pro Offer"></div>
        </div>
    </div>
</section>

<!-- Brands carousel-->
<section class="container mb-5">

    <swiper [slidesPerView]="3" [autoplay]="true" [pagination]="{ clickable: true }" [spaceBetween]="50">

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/13.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/14.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/17.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/16.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/15.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div>
                <a class="d-block bg-white border py-4 py-sm-5 px-2" style="margin-right: -.0625rem;"><img loading="lazy" class="d-block mx-auto" src="./assets/img/shop/brands/18.webp" style="width: 165px;" alt="Brand"></a>
            </div>
        </ng-template>

    </swiper>

</section>



<section class="container pb-5 mb-md-3">
    <div class="border rounded-3 p-3">
        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="bg-secondary p-5 text-center"><img loading="lazy" class="d-block mb-4 mx-auto" src="./assets/img/home/yt-logo.webp" width="70" alt="YouTube">
                    <div class="d-flex justify-content-center align-items-center mb-4"><img loading="lazy" class="me-2" src="./assets/img/home/yt-subscribers.webp" width="126" alt="YouTube Subscribers"><span class="fs-sm">250k+</span></div>
                    <a class="btn btn-primary border-0 btn-sm mb-3" style="background-color: #ff0000;"><i class="ci-add-user me-2"></i>Subscribe*</a>
                    <p class="fs-sm mb-0">*Vea los ultimas reseñas, gadgets, consejos y mas en nuestro canal de youtube.</p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-2">
                    <h2 class="h4 mb-3">Los ultimos videos</h2><a class="btn btn-outline-accent btn-sm mb-3">More videos<i class="ci-arrow-right fs-xs ms-1 me-n1"></i></a>
                </div>
                <div class="row g-0">
                    <div class="col-lg-4 col-6 mb-3">
                        <a class="d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/vS93u75NnPo" data-bs-toggle="video">
                            <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:16</span><img loading="lazy" class="w-100" src="./assets/img/home/video/cover01.jpg" alt="Video cover"></div>
                            <h6 class="fs-sm pt-1">5 New Cool Gadgets You Must See on Cartzilla - Cheap Budget</h6>
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 mb-3">
                        <a class="d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/B6LaYgGogf0" data-bs-toggle="video">
                            <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">7:27</span><img loading="lazy" class="w-100" src="./assets/img/home/video/cover02.jpg" alt="Video cover"></div>
                            <h6 class="fs-sm pt-1">5 Super Useful Gadgets on Cartzilla You Must Have in 2020</h6>
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 mb-3">
                        <a class="d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/kB-ROfRS9V4" data-bs-toggle="video">
                            <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:20</span><img loading="lazy" class="w-100" src="./assets/img/home/video/cover03.jpg" alt="Video cover"></div>
                            <h6 class="fs-sm pt-1">Top 5 New Amazing Gadgets on Cartzilla You Must See</h6>
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 mb-3 d-lg-none">
                        <a class="d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/sJK67XXE_Rg" data-bs-toggle="video">
                            <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:11</span><img loading="lazy" class="w-100" src="./assets/img/home/video/cover04.jpg" alt="Video cover"></div>
                            <h6 class="fs-sm fw-bold pt-1">5 Amazing Construction Inventions and Working Tools Available...</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog + Instagram info cards-->
<section class="container-fluid px-0">
    <div class="row g-0">

        <div class="col-md-6">

            <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="https://www.instagram.com/castitoner/" target="_blank">
                <div class="card-body text-center">
                    <i class="ci-instagram h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h5 mb-1">Siguenos en instagram</h3>
                    <p class="text-muted fs-sm">@castitoner</p>
                </div>
            </a>

        </div>

        <div class="col-md-6">
            <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="https://www.facebook.com/castitoner/" target="_blank">
                <div class="card-body text-center">
                    <i class="ci-facebook h3 mt-2 mb-4 text-accent"></i>
                    <h3 class="h5 mb-1">Siguenos en facebook</h3>
                    <p class="text-muted fs-sm">@castitoner</p>
                </div>
            </a>
        </div>

    </div>
</section>


<!-- =============================================================== 
  MODAL DETALLES DEL PRODUCTO 
==================================================================== -->
<!-- Quick View Modal-->
<div class="modal-quick-view modal fade" id="quick-view-electro" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" *ngIf="productoM">

            <div class="modal-header">
                <h4 class="modal-title product-title"><a [routerLink]="['/product']" data-bs-toggle="tooltip" data-bs-placement="right" title="Go to product page">{{ productoM.name }}<i class="ci-arrow-right fs-lg ms-2"></i></a></h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <!-- Product gallery-->
                    <div class="col-lg-7 pe-lg-0">
                        <div class="product-gallery">
                            <div class="product-gallery-preview order-sm-2">
                                <div class="product-gallery-preview-item active" id="first"><img loading="lazy" class="image-zoom" [src]=" productoM.img | imagen: 'products'" data-zoom="./assets/img/shop/single/gallery/05.jpg" alt="Product image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                                <div class="product-gallery-preview-item" id="second"><img loading="lazy" class="image-zoom" src="./assets/img/shop/single/gallery/06.jpg" data-zoom="./assets/img/shop/single/gallery/06.jpg" alt="Product image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                                <div class="product-gallery-preview-item" id="third"><img loading="lazy" class="image-zoom" src="./assets/img/shop/single/gallery/07.jpg" data-zoom="./assets/img/shop/single/gallery/07.jpg" alt="Product image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                                <div class="product-gallery-preview-item" id="fourth"><img loading="lazy" class="image-zoom" src="./assets/img/shop/single/gallery/08.jpg" data-zoom="./assets/img/shop/single/gallery/08.jpg" alt="Product image">
                                    <div class="image-zoom-pane"></div>
                                </div>
                            </div>
                            <div class="product-gallery-thumblist order-sm-1">
                                <a class="product-gallery-thumblist-item active" href="#first"><img loading="lazy" [src]=" productoM.img | imagen: 'products'" alt="Product thumb"></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product details-->

                    <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                        <div class="product-details ms-auto pb-3">
                            <div class="mb-2">
                                <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star"></i>
                                </div><span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">74 Votos</span>
                            </div>

                            <div class="h3 fw-normal text-accent mb-3 me-1"> {{productoM.price | currency}} </div>

                            <div class="position-relative me-n4 mb-3">

                                <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Producto Disponible</div>
                            </div>

                            <div class="d-flex align-items-center pt-4 pb-4">
                                <select class="form-select me-3" style="width: 5rem;" onchange="cantidad.value" #cantidad>
                                    <option [value]="i+1" *ngFor="let item of stock; let i=index"> {{i+1}} </option>
                                    </select>

                                <button (click)="agregarCarrito( productoM, cantidad.value )" class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-cart fs-lg me-2"></i>Agregar al carrito</button>
                            </div>

                            <div class="d-flex mb-4">

                                <div class="w-100 me-3">
                                    <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Agregar a</span>Deseos</button>
                                </div>

                            </div>

                            <h5 class="h6 mb-3 py-2 border-bottom">
                                <i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Información del Producto
                            </h5>
                            <h6 class="fs-sm mb-2">General</h6>
                            <ul class="fs-sm pb-2">
                                <li><span class="text-muted">Marca: </span>Amazfit</li>
                                <li><span class="text-muted">Modelo: </span>Amazfit Smartwatch</li>
                                <li><span class="text-muted">Compatibilidad: </span>Android / iOS</li>
                            </ul>
                            <h6 class="fs-sm mb-2">Especificaciónes</h6>
                            <ul class="fs-sm pb-2">
                                <li><span class="text-muted">forma: </span>Rectangular</li>
                                <li><span class="text-muted">Material: </span>Plastico / Ceramica</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =============================================================== 
  MODAL DETALLES DEL PRODUCTO 
==================================================================== -->