<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">

                    <li class="breadcrumb-item">
                        <a class="text-nowrap" [routerLink]="['/']"><i class="ci-home"></i>Home
                        </a>
                    </li>

                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Cuenta</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Historial de pedidos</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Mis pedidos</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
            <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">

                <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
                    <div class="d-md-flex align-items-center">
                        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;">
                            <img class="rounded-circle" src="{{user.img}}" alt="Susan Gardner">
                        </div>
                        <div class="ps-md-3">
                            <h3 class="fs-base mb-0"> {{ user.name }} </h3><span class="text-accent fs-sm">{{ user.email }}</span>
                        </div>
                    </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
                </div>

                <div class="d-lg-block collapse" id="account-menu">

                    <div class="bg-secondary px-4 py-3">
                        <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
                    </div>

                    <ul class="list-unstyled mb-0">

                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" [routerLink]="['/pedidos']" routerLinkActive="active">
                                <i class="ci-bag opacity-60 me-2"></i> Mis pedidos
                            </a>
                        </li>

                        <!-- <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" href="account-wishlist.html">
                                <i class="ci-heart opacity-60 me-2"></i>Lista deseos
                                <span class="fs-sm text-muted ms-auto">3</span>
                            </a>
                        </li> -->

                    </ul>

                    <div class="bg-secondary px-4 py-3">
                        <h3 class="fs-sm mb-0 text-muted">Cuenta y configuraciones</h3>
                    </div>

                    <ul class="list-unstyled mb-0">
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center px-4 py-3" [routerLink]="['/perfil']" routerLinkActive="active">
                                <i class="ci-user opacity-60 me-2"></i>Perfil
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">

            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                <div class="d-flex align-items-center">
                    <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">Seleccionar:</label>
                    <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Seleccionar:</label>

                    <select class="form-select" id="order-sort">
                        <option>Todo</option>
                        <option>Pendiente</option>
                        <option>Procesando</option>
                        <option>Enviado</option>
                        <option>Cancelado</option>
                    </select>

                </div>
            </div>

            <!-- Orders list-->
            <div class="table-responsive fs-md mb-4">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Pedido #</th>
                            <th>Fecha</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngIf="listaPedidos.length === 0">
                            <td colspan="4">
                                <h4 class="mb-0">No tienes pedidos...</h4>
                            </td>
                        </tr>

                        <tr *ngFor="let pedido of listaPedidos">
                            <td class="py-3">
                                <a class="nav-link-style fw-medium fs-sm" (click)="detallesPedido(pedido)" href="#order-details" data-bs-toggle="modal"> {{pedido.pedido}} </a>
                            </td>
                            <td class="py-3"> {{ pedido.fecha | date:"medium" }} </td>
                            <td class="py-3">
                                <span class="badge bg-info m-0"> {{ pedido.estado }} </span>
                            </td>
                            <td class="py-3"> {{ pedido.amount | currency }} </td>
                            <td class="py-3">
                                <a class="nav-link-style me-2" (click)="detallesPedido(pedido)" href="#order-details" data-bs-toggle="modal" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="ci-forward"></i></a>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>

            <!-- Pagination-->
            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">

                <ul class="pagination">
                    <li class="page-item">
                        <button [disabled]="desde === 0" (click)="cambiarPagina(-10)" class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Atras</button>
                    </li>
                </ul>
                <ul class="pagination">
                    <li class="page-item">
                        <button [disabled]="hasta > total" (click)="cambiarPagina(10)" class="page-link" href="#" aria-label="Next">Siguiente<i class="ci-arrow-right ms-2"></i></button >
                    </li>
                </ul>

            </nav>

        </section>
    </div>
</div>

<!-- ===================================================================================================================
MODAL DE PEDIDOS
========================================================================================================== -->
<div class="modal fade" id="order-details" >
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" >
            <div class="modal-header ">
                <h5 class="modal-title" *ngIf="pedidoD">Pedido - {{ pedidoD.pedido }}</h5>
                <!-- BUTTON PRINTER -->
                <!-- <button type="button" class="btn btn-outline-info btn-icon" printTitle="MyTitle"  
                [useExistingCss]="true"
                printSectionId="print-section"  
                ngxPrint>
                    <i class="ci-printer"></i>
                </button> -->
                <button type="button" (click)="downloadPDF()" class="btn btn-danger btn-sm">
                    PDF
                </button>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <div class="modal-body pb-0"  *ngIf="pedidoD" id="htmlData">

        <!-- ====================== PRINTER =========================== -->
        <!-- ====================== PRINTER =========================== -->



        <!-- INFORMACION DEL CLIENTE -->
        <div class="row" id="">

            <div class="col-6">

                <div class="row">

                    <!-- ESTADO -->
                    <div>

                        <span *ngIf="pedidoD.estado" class="badge rounded-pill bg-warning text-dark mb-2" [ngClass]="{'bg-success': pedidoD.estado == 'Entregado', 
                            'bg-warning': pedidoD.estado == 'Pendiente',
                            'bg-info text-white': pedidoD.estado == 'Procesando',
                            'bg-primary text-white': pedidoD.estado == 'Enviado',
                            'bg-danger text-white': pedidoD.estado == 'Cancelado'}">
                            {{pedidoD.estado}}
                        </span>
                    </div>
                    <!-- ESTADO -->

                    <!-- Informacion del Cliente -->
                    <div class="col-md-12 text-left text-muted">


                        <div class="col-md-4">
                            <h6 class="text-wrap mb-0 text-capitalize"><strong>CLIENTE / RAZON SOCIAL:  </strong><br><small>{{ pedidoD.client?.name }}</small></h6>
                        </div>
                        <div class="col">
                            <h6 class="text-wrap mb-0 text-capitalize"><strong>CC / Nit: </strong> <br><small> {{ pedidoD.client?.cedula }}</small></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="text-wrap mb-0 text-capitalize"><strong>TELEFONO: </strong> <br><small *ngIf="pedidoD.client?.phone"> {{ pedidoD.client?.phone }}</small> </h6>
                        </div>
                        <div class="col">
                            <h6 class="text-wrap mb-0"><strong>CORREO: </strong> <br><small *ngIf="pedidoD.client?.email"> {{ pedidoD.client?.email }} </small></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6 class="text-wrap mb-0"><strong>DIRECCIÓN: </strong> <br><small *ngIf="pedidoD.client?.address"> {{ pedidoD.client?.address }} <span *ngIf="pedidoD.client?.city" > {{ pedidoD.client?.city }} </span></small></h6>

                        </div>
                    </div>

                </div>



            </div>

            <div class="col-6">
                <div class="col-12 text-wrap" *ngIf="empresa">
                    <!-- <div class="mb-2 d-flex justify-content-end">
                            <img *ngIf="empresa.logo" src="{{empresa.logo | imagen:'logo'}}" class="" width="200px" alt="">
                        </div> -->
                    <h5 class="text-muted mb-0 text-wrap text-end fw-bold"> {{ empresa.name }} </h5>
                    <p class="text-muted mb-0 text-wrap text-end"> {{ empresa.address }} </p>
                    <p class="text-muted mb-0 text-wrap text-end">Nit: {{ empresa.nit }} </p>

                    <small *ngIf="!empresa.responsable" class="mb-0 d-flex justify-content-end"> No responsable de IVA </small>
                    <small *ngIf="empresa.responsable && !empresa.impuestoconsumo" class="mb-0 d-flex justify-content-end"> Responsable de iva </small>
                    <small *ngIf="empresa.responsable && empresa.impuestoconsumo" class="mb-0 d-flex justify-content-end"> Responsable nacional al consumo </small>

                    <small *ngIf="empresa.responsable" class="mb-0 d-flex justify-content-end"> Resolución: {{ empresa.resolucion }} </small>
                    <small *ngIf="empresa.responsable" class="mb-0 d-flex justify-content-end"> Prefijo Pos: {{ empresa.prefijopos }} </small>
                    <h3 class="display-5 mb-0 d-flex justify-content-end text-primary"> {{ pedidoD.pedido }} </h3>
                    <small class="mb-0 d-flex justify-content-end"> {{ pedidoD.fecha | date:'medium' }} </small>
                </div>
            </div>



        </div>


        <!-- INFORMACION DEL CLIENTE -->

        <!-- INFORMACION DE LA pedido -->
        <!-- <ng-container *ngIf="empresa">
                <h4 *ngIf="!empresa.responsable" class="text-center text-wrap"> Registro de operación de Venta </h4>
                <h4 *ngIf="empresa.responsable" class="text-center text-wrap"> pedido de venta pos </h4>
            </ng-container> -->

        <h4 *ngIf="!pedidoD.status" class="text-center text-danger"> CANCELADO </h4>


        <div class=" table-responsive ">

            <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                <thead class="border-bottom ">
                    <tr>
                        <th class="text-muted" scope="col">#</th>
                        <th class="text-muted" scope="col">Codigo de barras</th>
                        <th class="text-muted text-left" scope="col " colspan="2 ">Nombre del Producto</th>
                        <th class="text-muted" scope="col">tipo</th>
                        <th class="text-muted" scope="col">Precio</th>
                        <th class="text-muted" scope="col">Cantidad</th>
                        <th class="text-muted" scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let producto of pedidoD.products; let i = index">
                        <th> {{ i + 1 }} </th>
                        <td><small class="text-wrap">{{ producto.product.code }}</small></td>
                        <td colspan="2">{{ producto.product.name }}</td>
                        <td>{{ producto.product.type }}</td>
                        <td>{{ producto.price | currency}}</td>
                        <td>{{ producto.qty }}</td>
                        <td>{{ producto.price * producto.qty | currency}}</td>
                    </tr>

                </tbody>
            </table>

        </div>

        <!-- TOTAL -->
        <div>
            <div class="d-flex py-2">

                <div class="text-wrap px-2">
                    <h6 *ngIf="pedidoD.comentario">Nota:</h6>
                    <p *ngIf="pedidoD.comentario"> {{ pedidoD.comentario }} </p>
                </div>

                <div class="ms-auto d-flex justify-content-end">
                    <div class="border-start col px-4" *ngIf="empresa">

                        <!-- NO RESPONSABLE -->
                        <h6 class="mb-0 text-wrap text-primary text-rigth"> {{ amountP | currency }} </h6>
                        <!-- TOTAL -->

                    </div>
                </div>

            </div>
        </div>
        <!-- TOTAL -->

    </div>

    <!-- ====================== PRINTER =========================== -->
    <!-- ====================== PRINTER =========================== -->

</div>
<!-- Footer-->
<div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
    <div class="px-2 py-1"><span class="text-muted">Total:&nbsp;</span><span class="fs-lg"> {{ amountP | currency}} </span></div>
</div>
</div>
</div>
<!-- ===================================================================================================================
MODAL DE PEDIDOS
========================================================================================================== -->