<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Ingresar</a></li>
                    <!-- <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Registrarme</a></li> -->
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">

                <div class="tab-pane fade show active" id="signin-tab">

                    <h4 class="text-muted text-center text-wrapp">
                        Inicia sessión con tu cuenta de Google
                    </h4>

                    <div class="d-flex justify-content-center">

                        <!-- <div id="my-signin2"></div> -->
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<!-- Navbar Electronics Store-->
<header class="shadow-sm">
    <!-- Topbar-->
    <div class="topbar topbar-dark bg-dark">
        <div class="container">
            <div>
                <div class="topbar-text text-nowrap d-none d-md-inline-block border-start border-light ps-3 ms-3">
                    <span class="text-muted me-1">Llama al:</span>
                    <a class="topbar-link" href="tel:+573103011828">(57) 310 3011828</a>
                </div>
            </div>
            <!-- <div class="topbar-text dropdown d-md-none ms-auto"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Lista de deseos / Track</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="account-wishlist.html"><i class="ci-heart text-muted me-2"></i>Lista de deseos (3)</a></li>
                    <li><a class="dropdown-item" href="order-tracking.html"><i class="ci-location text-muted me-2"></i>Pedidos</a></li>
                </ul>
            </div> -->
            <!-- <div class="d-none d-md-block ms-3 text-nowrap">
                <a class="topbar-link d-none d-md-inline-block" href="account-wishlist.html">
                    <i class="ci-heart mt-n1"></i>Wishlist (3)</a>

                <a class="topbar-link ms-3 border-start border-light ps-3 d-none d-md-inline-block" href="order-tracking.html">
                    <i class="ci-location mt-n1"></i>Order tracking
                </a>
            </div> -->
        </div>
    </div>
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-none d-sm-block me-3 flex-shrink-0" routerLink="/">
                    <img src="./assets/img/logo.webp" width="90" alt="Castitoner">
                </a>
                <a class="navbar-brand d-sm-none me-2" routerLink="/">
                    <img src="./assets/img/logo.webp" width="90" alt="Castitoner">
                </a>
                <!-- Search-->
                <div class="input-group d-none d-lg-flex flex-nowrap mx-auto">
                    <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control rounded w-100" type="text" placeholder="Buscar Productos" (keyup.enter)="buscarProductos(search2.value)" #search2>

                </div>
                <!-- Toolbar-->
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-tool navbar-stuck-toggler" href="#">
                        <span class="navbar-tool-tooltip">Toggle menu</span>
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon ci-menu"></i>
                        </div>
                    </a>

                    <ng-container *ngIf="login">

                        <div class="btn-group dropdown">

                            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="user">
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                                <div class="navbar-tool-text ms-n3"><small>Hola, {{ user.name }}</small>Mi cuenta</div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a [routerLink]="['perfil']" class="dropdown-item">Perfil</a>
                                <a [routerLink]="['pedidos']" class="dropdown-item">Mis pedidos</a>
                                <div class="dropdown-divider"></div>
                                <button type="button" (click)="logout()" href="#" class="dropdown-item">Salir</button>
                            </div>

                        </div>
                    </ng-container>

                    <ng-container *ngIf="!login">
                        <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" (click)="log()" [routerLink]="['/login']">
                            <div class="navbar-tool-icon-box bg-ligth"><i class="navbar-tool-icon ci-user"></i></div>
                            <div class="navbar-tool-text ms-n3"><small>Hola!</small>Inicia Session</div>
                        </a>
                    </ng-container>

                    <!-- 
                    <div class="navbar-tool ms-2">
                        <div id="my-signin2"></div>
                    </div> -->

                    <div class="navbar-tool dropdown ms-3">

                        <a (mouseover)=" verCarrito() " class="navbar-tool-icon-box bg-secondary dropdown-toggle" [routerLink]="['/cart']">
                            <!-- <span class="navbar-tool-label">4</span> -->
                            <i class="navbar-tool-icon ci-cart"></i>
                        </a>

                        <a (mouseover)=" verCarrito() " class="navbar-tool-text" [routerLink]="['/cart']">
                            <small>Mi carrito</small>
                        </a>
                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="max-height: 15rem; min-height: auto;" data-simplebar data-simplebar-auto-hide="false">

                                    <div *ngIf="carrito.length < 1">

                                        <h5 class="text-wrap text-center mb-0 my-3 text-muted">No tienes ningun producto en el carrito...</h5>

                                    </div>

                                    <ng-container *ngIf="carrito.length > 0">
                                        <div *ngFor="let item of carrito; let i = index" class="widget-cart-item pb-2 border-bottom">
                                            <button (click)="eliminarProductoCarrito(i)" class="btn-close text-danger" type="button" aria-label="Remove">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <div class="d-flex align-items-center">
                                                <a class="d-block flex-shrink-0" [routerLink]="['/product', item.product]"><img [src]="item.img || 'no-image' | imagen: 'products'" width="64" alt="Product"></a>
                                                <div class="ps-2">
                                                    <h6 class="widget-product-title"><a [routerLink]="['/product', item.product]"> {{item.name}} </a></h6>
                                                    <div class="widget-product-meta"><span class="text-accent me-2"> {{ item.price | currency }} </span><span class="text-muted">x {{ item.qty }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="fs-sm me-2 py-2"><span class="text-muted">Subtotal:</span><span class="text-accent fs-base ms-1"> {{ total | currency }} </span></div><a class="btn btn-outline-secondary btn-sm" [routerLink]="['/cart']">Ir al carrito<i class="ci-arrow-right ms-1 me-n1"></i></a>
                                </div><a class="btn btn-primary btn-sm d-block w-100" [routerLink]="['/cart']"><i class="ci-card me-2 fs-base align-middle"></i>Ordenar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse" #navbarCollapse>

                    <!-- Departments menu-->
                    <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown">
                                <i class="ci-menu align-middle mt-n1 me-2"></i>Categorias
                            </a>

                            <ul class="dropdown-menu" *ngIf="categorias">

                                <li class="dropdown mega-dropdown" *ngFor="let categoria of categorias">

                                    <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                        <i class="ci-flag opacity-60 fs-lg mt-n1 me-2">                        
                                        </i>{{ categoria.name }}
                                    </a>

                                    <div class="dropdown-menu p-0">
                                        <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                                            <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                <div class="widget widget-links">
                                                    <h6 class="fs-base mb-3"> {{ categoria.name }} </h6>
                                                    <ul class="widget-list">
                                                        <li class="widget-list-item pb-1" *ngFor="let departamento of categoria.department">
                                                            <a class="widget-list-link" (click)="cerrarMenu()" [routerLink]="['/search/departamento', departamento.department._id]"> {{ departamento.department.name }} </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mega-dropdown-column d-none d-lg-block py-4 text-center">
                                                <a class="d-block mb-2" href="#">
                                                    <img src="./assets/img/home/hero-slider/pho.webp" alt="Computers &amp; Accessories"></a>
                                                <div class="fs-sm mb-3">Pide ahora </div><a class="btn btn-primary btn-shadow btn-sm" (click)="cerrarMenu()" [routerLink]="['/search/departamento', categoria.department[0].department._id]">Ver Productos<i class="ci-arrow-right fs-xs ms-1"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                    </ul>

                    <!-- Primary menu-->
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle" [routerLink]="['/home']">Inicio</a>
                        </li>

                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle" [routerLink]="['/about']">Nosotros</a>
                        </li>

                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle" [routerLink]="['/contac']">Contacto</a>
                        </li>

                    </ul>


                </div>
                <!-- SEARCH MOBILE -->
                <div class="col-12 d-block d-md-none">

                    <div class="input-group my-3">
                        <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Buscar Productos" (keyup.enter)="buscarProductos(search.value)" #search>
                    </div>
                </div>
                <!-- SEARCH MOBILE -->
            </div>
        </div>
    </div>
</header>